@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  /* Slim scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Light mode scrollbar track */
  ::-webkit-scrollbar-track {
    background: #d0f0ff; /* Light blue background */
  }

  /* Light mode scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background: #6ec1e4; /* Light blue thumb */
    border-radius: 10px;
  }

  /* Hover effect on light mode scrollbar thumb */
  ::-webkit-scrollbar-thumb:hover {
    background: #56a8cc; /* Slightly darker blue when hovered */
  }

  /* Dark mode scrollbar track */
  .dark ::-webkit-scrollbar-track {
    background: #ffac05; /* Yellow */
  }

  /* Dark mode scrollbar thumb */
  .dark ::-webkit-scrollbar-thumb {
    background: #f75a1d; /* Orange */
  }

  /* Hover effect on dark mode scrollbar thumb */
  .dark ::-webkit-scrollbar-thumb:hover {
    background: #e44a1c; /* Darker orange when hovered */
  }
}


@layer utilities {
  /* Hide Scrollbar */
  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }

  /* Show Scrollbar */
  .visible-scrollbar {
    scrollbar-width: auto; /* Firefox */
    -ms-overflow-style: auto; /* IE and Edge */
  }

  .visible-scrollbar::-webkit-scrollbar {
    display: block; /* Ensures scrollbar is shown in Chrome, Safari, Edge */
  }
}
